$edem-color-blue: #3399cc;
$edem-color-red: #ff6655;
$edem-color-blue-xlight: #88ddaa;
$edem-color-blue: #13344e;
$edem-color-blue-dark: #228855;
$edem-color-blue-xdark: #336655;
$edem-color-blue-xxdark: #225544;
$edem-color-blue-xxxdark: #2d3958;
$edem-color-blue-xxxxdark: #133148;
$edem-color-yellow: #eecc33;
$edem-color-orange: #ee9933;

$edem-color-primary: $edem-color-blue-xxxxdark;
$edem-color-accent: $edem-color-blue-xxxdark;
$edem-color-secondary: $edem-color-yellow;
$edem-color-link: #ffffff;
$edem-color-negative: $edem-color-red;
$edem-color-facebook: #3b5998;
$edem-color-google: #ffffff;
